.wrapper {
    padding: 0px 20px;
}
.containener {
    display: flex;
}
.sidebar {
    width: 20%;
    background-color: white;
    padding: 12px 24px 12px 0;
}
.sidebar-header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.sidebar-search {
    width: 100%;
    input {
        padding: 10px 20px;
        border-radius: 15px;
        background-color: #e2e8f0;
        font-weight: 400;
        line-height: 1.5;
        color: #64748b;
        width: 100%;
    }
}
.chat-space {
    width: 80%;
}
.user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.user-containner {
    display: flex;
    margin: 20px 0;
}

.user-info {
    margin-left: 12px;
}
.user-name {
    color: #64748b;
    font-size: 1.7rem;
    font-weight: 700;
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-option {
    button {
        padding: 10px;
        background-color: E2E8F0;
        cursor: pointer;
        margin-right: 20px;
        border-radius: 8px;
        &:hover {
            background-color: #bfdbfe;
        }
    }
}
.user-status {
    font-size: 1.2rem;
}
